*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
.home{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.home .slide{
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    animation: move 2s ease;
}
.home .slide.active{
    display: flex;
}
@keyframes move{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.container{
    max-width: 1070px;
    margin: auto;
}
.home .container{
    flex-grow: 1;
}
.home .caption{
    width: 50%;
    
}
.home .caption h1{
    font-size: 45px;
    color: rgb(37, 66, 79);
    margin: 0;
    text-transform: capitalize;  
}
.home .slide.active .caption h1{
    opacity: 0;
    animation: textMove .5s ease forwards;
    animation-delay: 1s;
}
.home .caption p{
    font-size: 20px;
    color: rgb(37, 66, 79);
    text-transform: capitalize;
    margin: 15px 0 30px;
}
.home .slide.active .caption p{
    opacity: 0;
    animation: textMove .5s ease forwards;
    animation-delay: 1.2s;
}
.home .caption a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(37, 66, 79);
    color: #fff;
    border-radius: 10px;
    text-transform: capitalize;
}
.home .slide.active .caption a{
    opacity: 0;
    animation: textMove .5s ease forwards;
    animation-delay: 1.4s;
}
@keyframes textMove{
    0%{
        opacity: 0; transform: translateX(-100px);
    }
    100%{
        opacity: 1; transform: translateX(0);
    }
}
.home .controlls .prev,
.home .controlls .next{
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    color: rgb(181, 207, 219);
    background-color: rgb(37, 66, 79);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s ease;
}
.home .controlls .prev{
    left: 0;
}
.home .controlls .next{
    right: 0;
}
.home .controlls .prev:hover,
.home .controlls .next:hover{
    background: rgb(181, 207, 219);
    color: rgb(37, 66, 79);
}
.home .indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 2;
}
.home .indicator div{
    display: inline-block;
    width: 25px;
    height: 25px;
    color: rgb(181, 207, 219);
    background: rgb(37, 66, 79);
    text-align: center;
    line-height: 25px;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}
.home .indicator div.active{
    color: rgb(37, 66, 79);
    background: rgb(181, 207, 219);
}

@media only screen and  (max-width: 700px){
    .home{
        height: 100vh;
        overflow: hidden;
        position: relative;
    }
    .home .slide{
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: none;
        animation: move 2s ease;
    }
    .home .slide.active{
        display: flex;
    }
    .home .caption h1{
        font-size: 20px;
        color: rgb(37, 66, 79);
        margin: 0;
        text-transform: capitalize;  
    }
    .home .caption p{
        font-size: 14px;
        color: rgb(37, 66, 79);
        text-transform: capitalize;
        margin: 15px 0 30px;
    }
    .home .caption a{
        display: inline-block;
        text-decoration: none;
        padding: 1px 5px;
        background-color: rgb(37, 66, 79);
        color: #fff;
        border-radius: 5px;
        text-transform: capitalize;
        font-size: 12px;
    }
    .home .controlls .prev,
.home .controlls .next{
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -20px;
    color: rgb(181, 207, 219);
    background-color: rgb(37, 66, 79);
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s ease;
}
.home .indicator div{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: rgb(181, 207, 219);
    background: rgb(37, 66, 79);
    text-align: center;
    line-height: 20px;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}
}